#ds-status {
    position: relative;

    span {
        white-space: pre-wrap;
    }

    .ds-input {
        padding-left: 8px !important;

        &.ds-active {
            background-color: #c3c3c3;
            padding-left: 20px !important;
            color: #ffffff;
            line-height: normal;
        }
    }

    .ds-container {
        position: absolute;
        width: 50%;
        background-color: red;
        z-index: 99;
        top: 40px;
        right: 0;

        .ds-item {
            padding: 7px 5px;
            display: block;
            background-color: #fff !important;
            min-height: 40px;
            border-top: 1px solid #ECECEC;
            font-weight: 100;
            color: #5a677a;
        }
    }
}

#ds-severity {
    position: relative;

    span {
        white-space: pre-wrap;
    }

    .ds-input.ds-active {
        background-color: #c3c3c3;
        color: #ffffff;
        line-height: normal;
        padding-left: 22px !important;
    }

    .ds-container {
        position: absolute;
        width: 50%;
        background-color: red;
        z-index: 99;
        top: 40px;
        right: 0;

        .ds-item {
            padding: 7px 5px;
            display: block;
            background-color: #fff !important;
            min-height: 40px;
            border-top: 1px solid #ECECEC;
            font-weight: 100;
            color: #5a677a;
        }
    }
}

#ds-priority {
    position: relative;

    span {
        white-space: pre-wrap;
    }

    .ds-input.ds-active {
        background-color: #c3c3c3;
        color: #ffffff;
        line-height: normal;
        padding-left: 22px !important;
    }

    .ds-container {
        position: absolute;
        width: 50%;
        background-color: red;
        z-index: 99;
        top: 40px;
        right: 0;

        .ds-item {
            padding: 7px 5px;
            display: block;
            background-color: #fff !important;
            min-height: 40px;
            border-top: 1px solid #ECECEC;
            font-weight: 100;
            color: #5a677a;
        }
    }
}
