/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.07.2016, 11:30:30
    Author     : radub
*/
.de-selectdrawing {
  font-family: 'FreightNormal'; }
  .de-selectdrawing .modal-content {
    border-radius: 0px;
    background-color: #e9e9e9; }
  .de-selectdrawing .modal-header {
    background-color: #287ba7; }
    .de-selectdrawing .modal-header h2 {
      font-size: 20px;
      color: #fff;
      margin: 10px;
      display: inline-block;
      margin-left: 20px; }
    .de-selectdrawing .modal-header .de-text {
      margin-right: 13px;
      margin-top: 10px;
      color: #fff;
      font-family: 'FreightLight', sans-serif;
      font-size: 16px; }
  .de-selectdrawing .modal-footer {
    background-color: #fff;
    padding: 10px; }
    .de-selectdrawing .modal-footer .de-green {
      margin-left: 5px; }
  .de-selectdrawing .modal-body .de-photos {
    max-height: 45%;
    overflow-y: scroll; }
    .de-selectdrawing .modal-body .de-photos::-webkit-scrollbar {
      width: 0.5em; }
    .de-selectdrawing .modal-body .de-photos::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .de-selectdrawing .modal-body .de-photos::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey; }
    .de-selectdrawing .modal-body .de-photos > .row {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      float: left; }
      .de-selectdrawing .modal-body .de-photos > .row:first-child .de-item {
        margin-top: 0px; }
    .de-selectdrawing .modal-body .de-photos .de-item {
      width: 140px;
      background-color: #fff;
      display: inline-block;
      margin: 5px; }
      .de-selectdrawing .modal-body .de-photos .de-item hr {
        border-color: #e8e8e8;
        margin: 15px 0px 0px; }
      .de-selectdrawing .modal-body .de-photos .de-item .de-label {
        background-color: #f8f8f8;
        background-color: #f8f8f8;
        padding: 5px 0px; }
        .de-selectdrawing .modal-body .de-photos .de-item .de-label span {
          max-width: calc(100% - 20px);
          display: block;
          white-space: nowrap;
          overflow: hidden;
          margin-left: auto;
          margin-right: auto;
          text-overflow: ellipsis;
          font-weight: bold;
          font-size: 13px;
          text-align: center; }
      .de-selectdrawing .modal-body .de-photos .de-item > div:first-child {
        position: relative;
        text-align: center;
        padding-top: 30px; }
        .de-selectdrawing .modal-body .de-photos .de-item > div:first-child input {
          position: absolute;
          top: 5px;
          right: 10px; }
        .de-selectdrawing .modal-body .de-photos .de-item > div:first-child > img {
          height: 65px; }
        .de-selectdrawing .modal-body .de-photos .de-item > div:first-child > i {
          position: absolute;
          top: 5px;
          right: 5px; }

@media (min-width: 768px) {
  .de-selectdrawing .modal-dialog {
    width: 600px;
    margin: 30px auto;
    width: 500px; } }
.ds-punchlist-instance ul[dnd-list], .ds-punchlist-instance ul[dnd-list] > li {
  position: relative;
  cursor: pointer; }
.ds-punchlist-instance ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px; }
.ds-punchlist-instance ul[dnd-list] .dndDraggingSource {
  display: none; }
.ds-punchlist-instance ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  min-height: 42px; }
.ds-punchlist-instance ul[dnd-list] li {
  background-color: #fff;
  display: block;
  padding-top: 3px;
  margin-bottom: 10px;
  box-shadow: 0 4px 3px -3px #B3B4B6;
  border: 1px solid #CDCED2; }
.ds-punchlist-instance ul[dnd-list] li.selected {
  background-color: #dff0d8;
  color: #3c763d; }
.ds-punchlist-instance .panel-title {
  text-align: center;
  font-size: 19px;
  font-family: 'FreightNormal'; }
.ds-punchlist-instance .panel-heading {
  background-color: #fff;
  border-color: #fff;
  padding: 10px 0; }
.ds-punchlist-instance .panel-info {
  border-color: transparent; }
.ds-punchlist-instance .panel {
  background-color: transparent; }
.ds-punchlist-instance .panel-body {
    max-height: 624px;
    height: 624px;
    margin-left: 0.5em;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px 0 0 0; }
.ds-punchlist-instance .panel-body::-webkit-scrollbar {
    width: 0.5em; 
}
.ds-punchlist-instance .panel-body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.ds-punchlist-instance .panel {
  box-shadow: none; }
.ds-punchlist-instance .panel-title {
  color: #96A0A8;
  text-transform: capitalize; }
.ds-punchlist-instance .field {
  border-right: 1px solid #C1C8D2; }
.ds-punchlist-instance .field:last-child {
  border-right: none; }
.ds-punchlist-instance .field .panel-border {
  width: 100%;
  height: 5px; }
.ds-punchlist-instance .special1 .panel-border {
  background-color: #3B98D3; }
.ds-punchlist-instance .special2 .panel-border {
  background-color: #F29C21; }
.ds-punchlist-instance .special3 .panel-border {
  background-color: #955BA5; }
.ds-punchlist-instance .special4 .panel-border {
  background-color: #0AB392; }
.ds-punchlist-instance .special5 .panel-border {
  background-color: #ef5450; }
.ds-punchlist-instance .special6 .panel-border {
  background-color: #607d8b; }
.ds-punchlist-instance .panel-heading {
  box-shadow: 0 4px 3px -3px #B3B4B6;
  border: 1px solid #CDCED2;
  border-radius: 0; }
.ds-punchlist-instance ul[dnd-list] li .item-footer {
  display: inline-block;
  background-color: #F2F3F7;
  width: 100%;
  height: 30px;
  border-top: 1px solid #E2E3E7; }
.ds-punchlist-instance ul[dnd-list] li .item-date {
  float: left;
  color: #5A6A79;
  font-family: 'FreightNormal'; }
.ds-punchlist-instance ul[dnd-list] li .item-date {
  float: left;
  padding: 5px 10px; }
.ds-punchlist-instance ul[dnd-list] li .item-details {
  float: right;
  padding: 5px 10px;
  color: #5F6D7A;
  font-family: 'FreightNormal'; }
.ds-punchlist-instance ul[dnd-list] li .item-comments {
  margin-left: 10px; }
.ds-punchlist-instance ul[dnd-list] .item-description {
  padding: 5px;
  display: block; }
.ds-punchlist-instance ul[dnd-list] .item-description .task-name {
  font-size: 16px;
  font-weight: bold;
  color: #31485A;
  font-family: 'FreightNormal';
  display: block;
  margin-bottom: -4px;
  margin-top: -2px; }
.ds-punchlist-instance ul[dnd-list] .item-description .task-desc {
  color: #687385;
  font-size: 15px;
  font-family: 'FreightNormal'; }
.ds-punchlist-instance ul[dnd-list] .item-description .level {
  color: #929EAC;
  border-right: 1px solid #DDDDDD;
  padding-right: 5px; }
.ds-punchlist-instance ul[dnd-list] .item-description .level.last {
  border-right: none; }
.ds-punchlist-instance ul[dnd-list] .item-description .priority {
  margin-right: 5px; }
.ds-punchlist-instance ul[dnd-list] .item-description .de-img {
  width: 35px;
  height: 33px;
  float: left;
  margin-right: 5px;
  background-color: #a3acb1;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding-top: 5px; }
.ds-punchlist-instance ul[dnd-list] .item-description .item-right {
  width: calc(100% - 40px);
  float: left; }
.ds-punchlist-instance .panel {
  margin: 0; }
.ds-punchlist-instance ul[dnd-list] li:last-child {
  margin-bottom: 0; }
.ds-punchlist-instance ul[dnd-list] {
  margin-bottom: 0; }

.de-rh.de-rhinvite {
  height: 175px !important; }
  .de-rh.de-rhinvite .de-container > .de-content {
    overflow: hidden; }
  .de-rh.de-rhinvite .de-footer .de-container .de-actions {
    margin-right: -5px; }

.de-rh {
  position: fixed;
  top: 219px;
  right: 20px;
  width: 0px;
  height: calc(100% - 239px);
  z-index: 99;
  background-color: #e7e6e4;
  transition: width 0.7s;
  overflow: hidden; }
  .de-rh > .de-header {
    position: absolute;
    height: 40px;
    background-color: #1bbc9b;
    width: calc(100% + 40px);
    margin-left: 0px;
    overflow: hidden;
    transition: width 0.7s;
    top: 0px;
    left: 0px;
    z-index: 100; }
    .de-rh > .de-header > .de-back {
      width: 40px;
      height: 40px;
      float: left;
      display: inline-block;
      cursor: pointer; }
      .de-rh > .de-header > .de-back img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px; }
    .de-rh > .de-header > .de-title {
      height: 40px;
      width: calc(100% - 40px);
      float: left;
      display: inline-block;
      color: #fff;
      font-size: 20px;
      line-height: 40px;
      padding-left: 10px;
      font-family: 'FreightNormal';
      cursor: default; }
      .de-rh > .de-header > .de-title > .pull-right {
        margin-right: 15px; }
        .de-rh > .de-header > .de-title > .pull-right img {
          padding: 10px 7px; }
  .de-rh .de-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    overflow: hidden; }
    .de-rh .de-footer .de-container {
      width: 480px; }
      .de-rh .de-footer .de-container .de-actions {
        float: right;
        margin-top: 10px; }
  .de-rh > .de-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 50px 5px 60px 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .de-rh > .de-container > .de-content {
      width: 480px;
      height: 100%;
      background-color: #e7e6e4;
      padding-right: 5px;
      overflow-y: scroll;
      overflow-x: hidden; }
      .de-rh > .de-container > .de-content::-webkit-scrollbar {
        width: 0.5em; }
      .de-rh > .de-container > .de-content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
      .de-rh > .de-container > .de-content::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey; }
      .de-rh > .de-container > .de-content .de-form .de-actions {
        margin-top: -9px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px; }
        .de-rh > .de-container > .de-content .de-form .de-actions select {
          flex-grow: 1;
          max-width: 20%;
          height: 40px;
          border: 1px solid #e6e6e6;
          font-family: 'FreightNormal';
          color: #596779;
          font-size: 15px;
          padding-left: 2px;
          outline: none; }
        .de-rh > .de-container > .de-content .de-form .de-actions status {
          flex-grow: 1;
          max-width: 20%; }
          .de-rh > .de-container > .de-content .de-form .de-actions status .de-header {
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px; }
            .de-rh > .de-container > .de-content .de-form .de-actions status .de-header span {
              white-space: nowrap; }
        .de-rh > .de-container > .de-content .de-form .de-actions assignee {
          flex-grow: 1;
          max-width: 20%; }
          .de-rh > .de-container > .de-content .de-form .de-actions assignee .de-header {
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px; }
            .de-rh > .de-container > .de-content .de-form .de-actions assignee .de-header span {
              white-space: nowrap; }
        .de-rh > .de-container > .de-content .de-form .de-actions .de-date {
          flex-grow: 1;
          max-width: 20%;
          position: relative;
          height: 40px;
          border: 1px solid #e6e6e6;
          font-family: 'FreightNormal';
          color: #596779;
          font-size: 15px;
          background-color: #fff;
          margin: 0px;
          font-weight: normal !important; }
          .de-rh > .de-container > .de-content .de-form .de-actions .de-date .uib-datepicker-popup.dropdown-menu {
            top: 40px !important; }
          .de-rh > .de-container > .de-content .de-form .de-actions .de-date .uib-datepicker-popup table {
            outline: none; }
          .de-rh > .de-container > .de-content .de-form .de-actions .de-date > span {
            width: 100%;
            height: 100%;
            padding-top: 8px;
            display: block;
            padding-left: 5px;
            white-space: nowrap;
            cursor: pointer; }
      .de-rh > .de-container > .de-content .de-form hr {
        margin: 10px 0px 5px;
        border-top-width: 2px; }
      .de-rh > .de-container > .de-content .de-form > div {
        width: 100%;
        margin-bottom: 10px; }
        .de-rh > .de-container > .de-content .de-form > div > span {
          display: block;
          color: #596779;
          margin-bottom: 3px;
          font-weight: bold; }
          .de-rh > .de-container > .de-content .de-form > div > span img {
            margin-right: 5px; }
        .de-rh > .de-container > .de-content .de-form > div input {
          width: 100%;
          border: none;
          border-radius: 0;
          height: 32px;
          padding-left: 8px;
          outline: none;
          font-family: 'FreightNormal', sans-serif;
          color: #596779; }
          .de-rh > .de-container > .de-content .de-form > div input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: 14px;
            font-family: 'FreightItalic', sans-serif;
            font-style: italic; }
          .de-rh > .de-container > .de-content .de-form > div input::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 15px;
            font-family: 'FreightLight', sans-serif;
            font-style: italic; }
          .de-rh > .de-container > .de-content .de-form > div input:-ms-input-placeholder {
            /* IE 10+ */
            font-size: 15px;
            font-family: 'FreightLight', sans-serif;
            font-style: italic; }
          .de-rh > .de-container > .de-content .de-form > div input:-moz-placeholder {
            /* Firefox 18- */
            font-size: 15px;
            font-family: 'FreightLight', sans-serif;
            font-style: italic; }
        .de-rh > .de-container > .de-content .de-form > div .de-btn {
          margin-top: 5px;
          float: right; }
        .de-rh > .de-container > .de-content .de-form > div .de-subdrawing {
          height: 130px;
          width: 100%;
          background-color: #fff;
          border: 1px dashed #596779;
          white-space: nowrap;
          overflow-y: hidden;
          overflow-x: auto; }
          .de-rh > .de-container > .de-content .de-form > div .de-subdrawing input {
            width: 100%;
            border-bottom: 1px solid #cacaca;
            height: 30px; }
          .de-rh > .de-container > .de-content .de-form > div .de-subdrawing span {
            display: block;
            text-align: center;
            padding-top: 50px;
            font-size: 17px;
            color: #596779; }
          .de-rh > .de-container > .de-content .de-form > div .de-subdrawing::-webkit-scrollbar {
            height: 0.5em; }
          .de-rh > .de-container > .de-content .de-form > div .de-subdrawing::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
            background-color: #fff; }
          .de-rh > .de-container > .de-content .de-form > div .de-subdrawing::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey; }
        .de-rh > .de-container > .de-content .de-form > div .de-img {
          height: 80px;
          width: 100%;
          background-color: #fff;
          border: 1px dashed #596779; }
        .de-rh > .de-container > .de-content .de-form > div .btn:hover {
          color: #fff;
          cursor: default; }
        .de-rh > .de-container > .de-content .de-form > div table .btn:hover {
          color: #333; }
      .de-rh > .de-container > .de-content .de-form .input-group .de-btn {
        margin-top: 0px; }
      .de-rh > .de-container > .de-content .de-form .de-comments > .de-list .de-item {
        margin: 5px 0px;
        padding: 5px;
        background-color: #fff; }
        .de-rh > .de-container > .de-content .de-form .de-comments > .de-list .de-item h3 {
          margin: 0px;
          font-size: 15px;
          font-family: 'FreightNormal', sans-serif;
          color: #287ba7; }
          .de-rh > .de-container > .de-content .de-form .de-comments > .de-list .de-item h3 i {
            font-style: normal;
            font-family: sans-serif;
            color: #333;
            font-size: 13px; }
        .de-rh > .de-container > .de-content .de-form .de-comments > .de-list .de-item span {
          display: block;
          font-style: normal;
          font-family: sans-serif;
          color: #333;
          font-size: 13px; }

.de-rh.de-active {
  width: 500px;
  overflow: visible; }
  .de-rh.de-active .de-header {
    left: -40px; }

status {
  position: relative;
  display: block; }
  status .de-header {
    height: 40px;
    border: 1px solid #e6e6e6;
    font-family: 'FreightNormal';
    color: #596779;
    font-size: 15px;
    padding-left: 5px;
    background-color: #fff;
    margin: 0px;
    font-weight: normal !important;
    padding-top: 8px;
    box-shadow: none;
    left: 0px !important;
    position: relative;
    cursor: pointer; }
    status .de-header > img {
      position: absolute;
      top: 16px;
      width: 7px;
      height: 6px;
      right: 3px; }
  status .de-content {
    position: absolute;
    width: 100%;
    z-index: 11;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35); }
    status .de-content .de-item {
      cursor: pointer;
      padding: 7px 5px;
      display: block;
      background-color: #fff;
      min-height: 35px;
      border-top: 1px solid #ECECEC;
      font-family: 'FreightNormal';
      font-size: 15px;
      color: #5a677a; }
      status .de-content .de-item:hover {
        background-color: #efefef; }

assignee {
  position: relative;
  display: block; }
  assignee .de-header {
    height: 40px;
    border: 1px solid #e6e6e6;
    font-family: 'FreightNormal';
    color: #596779;
    font-size: 15px;
    padding-left: 5px;
    background-color: #fff;
    margin: 0px;
    font-weight: normal !important;
    padding-top: 8px;
    box-shadow: none;
    left: 0px !important;
    position: relative;
    cursor: pointer; }
    assignee .de-header > img {
      position: absolute;
      top: 16px;
      width: 7px;
      height: 6px;
      right: 3px; }
  assignee .de-content {
    position: absolute;
    width: 100%;
    z-index: 11;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35); }
    assignee .de-content > input {
      height: 39px !important;
      border-top: 1px solid #e6e6e6 !important;
      border-left: 1px solid #e6e6e6 !important;
      border-right: 1px solid #e6e6e6 !important;
      font-family: 'FreightNormal';
      font-size: 16px;
      color: #5a677a; }
    assignee .de-content .de-item {
      cursor: pointer;
      padding: 7px 5px;
      display: block;
      background-color: #fff;
      min-height: 35px;
      border-top: 1px solid #ECECEC;
      font-family: 'FreightNormal';
      font-size: 15px;
      color: #5a677a;
      width: 187px;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35); }
      assignee .de-content .de-item:hover {
        background-color: #efefef; }
    assignee .de-content .de-item.de-active {
      background-color: #3598db;
      color: #fff; }
      assignee .de-content .de-item.de-active:hover {
        background-color: #3598db; }

relatedtasks {
  position: relative;
  display: block; }
  relatedtasks .ion-android-close {
    position: absolute;
    top: 3px;
    right: 6px;
    font-size: 19px;
    cursor: pointer;
    color: #a9a9a9; }
  relatedtasks .de-header {
    height: 30px;
    border: 1px solid #e6e6e6;
    font-family: 'FreightNormal';
    color: #596779;
    font-size: 14px;
    background-color: #fff;
    margin: 0px;
    font-weight: normal !important;
    box-shadow: none;
    left: 0px !important;
    position: relative;
    cursor: pointer; }
    relatedtasks .de-header > img {
      position: absolute;
      top: 16px;
      width: 7px;
      height: 6px;
      right: 3px; }
    relatedtasks .de-header input {
      height: 30px !important;
      width: calc(100% - 71px) !important; }
    relatedtasks .de-header .btn {
      position: absolute;
      right: 0px;
      top: 0px;
      margin-top: 0px !important; }
  relatedtasks .de-content {
    position: absolute;
    width: calc(100% - 70px);
    z-index: 11;
    left: 1px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    max-height: 150px;
    overflow: auto; }
    relatedtasks .de-content .de-item {
      cursor: pointer;
      padding: 7px 5px;
      display: block;
      width: 100%;
      background-color: #fff;
      min-height: 30px;
      border-top: 1px solid #ECECEC;
      font-family: 'FreightNormal';
      font-size: 14px;
      color: #5a677a; }
      relatedtasks .de-content .de-item:hover {
        background-color: #efefef; }
    relatedtasks .de-content .de-item.de-active {
      background-color: #3598db;
      color: #fff; }
      relatedtasks .de-content .de-item.de-active:hover {
        background-color: #3598db; }
  relatedtasks .de-list .de-container {
    padding: 5px;
    background-color: #fff;
    margin: 5px 0px;
    position: relative; }
    relatedtasks .de-list .de-container .de-item {
      width: 100%;
      background-color: #fff;
      border-left-width: 5px;
      height: 40px;
      padding: 0px 5px; }
      relatedtasks .de-list .de-container .de-item h3 {
        margin: 0px;
        font-size: 17px;
        font-family: 'FreightNormal', sans-serif; }
      relatedtasks .de-list .de-container .de-item span {
        color: #5A6A79;
        padding-right: 5px;
        font-family: 'FreightNormal';
        border-right: 1px solid #aaa;
        margin-left: 5px; }
        relatedtasks .de-list .de-container .de-item span i {
          font-family: 'FreightLight';
          font-style: normal;
          padding-left: 5px; }
        relatedtasks .de-list .de-container .de-item span:last-child {
          border: none; }

@media (min-width: 768px) {
  .de-photomodal .modal-dialog {
    width: 900px; } }
.de-photomodal .pp-img img {
  width: 100%; }

.de-required:after {
  content: '*required';
  color: red;
  font-size: 11px;
  margin-left: 2px; }

.de-rh.de-preview > .de-header {
  background-color: #287ba7; }
.de-rh.de-preview > .de-container {
  padding: 50px 5px 10px 10px; }
.de-rh.de-preview input, .de-rh.de-preview select {
  background-color: #f5f5f5;
  color: #7e838a !important; }
.de-rh.de-preview .de-date span {
  background-color: #f5f5f5;
  color: #7e838a !important;
  cursor: default; }
.de-rh.de-preview assignee .de-header {
  background-color: #f5f5f5;
  color: #7e838a !important;
  cursor: default; }
.de-rh.de-preview status .de-header {
  background-color: #f5f5f5;
  color: #7e838a !important;
  cursor: default; }
.de-rh.de-preview .form-control {
  cursor: default; }

#testDialog .modal-dialog {
  width: 600px; }
#testDialog .de-item {
  float: left;
  display: inline-block;
  width: 30%; }

/*# sourceMappingURL=directives.css.map */
