/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.07.2016, 14:59:46
    Author     : radub
*/


$darkth-bg:#32475a;
$darkth-txt:#0c0c0c;

.de-topbar{
    background-color: white;
    width: 100%;
    height:60px;
    position:fixed;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    z-index: 99;
    .de-item{
        float:left;
        cursor:pointer;        
        color: #fff;
        text-align: center;
        font-size:25px;
        width:60px;
        height:60px;
        border-right: 1px solid #E8E8E8;
        padding-top:20px;
        display: inline-block;

    }
    .de-item, .de-item span, .de-item img, .de-item i{
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently
                                        not supported by any browser */
    }
    .de-item.de-menubtn{        
        border-right:0px;
        border-bottom:1px solid $darkth-txt;
        background-color: $darkth-bg;
        height: 61px;
        width: 62px;
    }
    .de-item.pull-right{
        border-left: 1px solid #E8E8E8;
        border-right: none;
    }
    .de-item.de-input{
        width:300px;
        padding:0px;
        input{
            width:calc(100% - 80px);
            height:60px;
            font-size:15px;
            color: $darkth-txt;
            border: none;
            outline: none;
            &::-webkit-input-placeholder {
                color: #5F6C7E; 
                font-size:17px;
                font-style: italic;
            }
            &:-moz-placeholder {
                color: #5F6C7E; 
                font-size:17px;
                font-style: italic;
            }
            &::-moz-placeholder{
                color: #5F6C7E;
                font-size:17px;
                font-style: italic;
            }
            &:-ms-input-placeholder {
                color: #5F6C7E;
                font-size:17px;
                font-style: italic;
            }
        }
        .pull-left{
            padding: 28px 10px 24px;

        }
        .pull-right{
            padding: 22px 10px 18px;
        }
    }
}

.de-sidebar{
    position: fixed;
    background-color: $darkth-bg;
    width:60px;
    height: 100%;
    z-index: 99;
    -webkit-box-shadow: 2px 0px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 0px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 0px 1px 0px rgba(0, 0, 0, 0.75);
    font-family: 'FreightNormal';
    .de-item{
        cursor:pointer;
        color: #fff;
        text-align: center;
        font-size:25px;
        width:100%;
        height:60px;
        border-bottom:1px solid $darkth-txt;
        padding-top:15px;
        position:relative;
        span{
            display:none;
        }
        img{
            float:none !important;
        }
        .ion-ios-information{
            float:none !important;
        }
    }
    .de-item, .de-item span, .de-item img, .de-item i{
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently
                                        not supported by any browser */
    }
    .de-item.de-none{
        height: 140px;
        > div{
            display: none;
        }
    }
    .de-item .ion-ios-information{
        font-size:34px;
    }
    .de-item.de-footer{
        width:100%;
        position: absolute;
        bottom: 0px;
        border-top:1px solid $darkth-txt;
        border-bottom:none;
    }
    .de-container{
        display: none;
    }
    .de-badge.de-notification{
        display: inline-block;
        width: auto;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}


.ds-menu-on{
    .de-topbar{
        width: calc(100% - 250px);
        margin-left: 250px;
        .de-menubtn{
            border-bottom: none;
            border-left: 1px solid $darkth-txt;
            height: 60px;
        }
    }
    .de-sidebar{
        width:250px;
        .de-badge.de-notification{
            display: none;
        }
        .de-item{
            padding-left:15px;
            img, .ion-ios-information{
                padding-right: 10px;
                float:left !important;
            }
            span{
                display: inline-block;
                font-size: 17px;
                color: #97a0ab;
                margin-top: 5px;
            }
            .pull-right{
                margin-right:20px;
            }
        }
        .de-projects-active{
            background-color: #212b37;
            border-left:2px solid #01AAEF;
            padding-left:13px;
        }
        .de-item.de-none{
            padding-left:0px;
            >div{
                display: block;
                .de-img{
                    width:100px;
                    height:100px;
                    border-radius: 100%;
                    display: inline-block;
                    border:3px solid #97a0ab;
                    vertical-align: middle;
                }
                .de-text{
                    padding-top: 20px;
                    text-align: left;
                    display: inline-block;
                    width: 110px;
                    vertical-align: middle;
                    padding-left:10px;
                    h3{    
                        margin-bottom: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size:15px;
                        margin-top: 0px;
                        color:#97a0ab;
                        strong{
                            color:#fff;
                        }
                    }
                }
            }
        }
        .de-container{
            display: block;;            
            max-height: calc(100% - 480px);
            min-height: calc(100% - 480px);
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 0.5em;
            }

            &::-webkit-scrollbar-track {
                background-color: #212b37;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
            }

            &::-webkit-scrollbar-thumb {
                background-color: #e9eaee;
                outline: 1px solid slategrey;
            }
            .de-item{
                background-color:#84878c;            
                border-color:#747b82;
                height: 50px;
                padding: 10px 15px;
                span{           
                    color: #eff0f1 !important;
                    white-space: nowrap;                
                    max-width: calc(100% - 10px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &:hover{
                    background-color:#737a82;
                }
            }            
        }
        .de-item.de-input{
            position: relative;
            padding: 2px 10px 0px 40px;
            height: 50px;
            background-color: #666f78;
            input{
                width: 100%;
                border: none;
                background-color: #666f78;
                border-bottom: 1px solid #fff;
                font-size: 17px;
                height: 38px;
                padding: 5px 5px 0px;
                outline: none;
            }
            i{
                position: absolute;
                left: 15px;
                top:13px;

            }
        }
        .de-item.de-special{
            height:50px;
            padding:10px 15px;
            border-bottom:0px;
            background-color: #666f78;
            span{
                display: inline-block;
                color: #eff0f1 !important;
                vertical-align: middle;
            }
            .ion-android-add{
                display: inline-block;
                font-size: 22px;
                margin-right: 5px;
                vertical-align: middle;
            }
        }
    }
}