<form class="ds-form ds-modal">
    <div class="input-container">
        <input type="number" ng-model="local.createProject.project_number" required="required"><strong></strong>
        <label class="label-bar">Project number</label>
    </div>
    <div class="input-container">
        <input type="text" ng-model="local.createProject.name" required="required"><strong></strong>
        <label class="label-bar">Name</label>
    </div>
    <div class="input-container">
        <input type="text" ng-model="local.createProject.addr_firstline" required="required"><strong></strong>
        <label class="label-bar">Address line 1</label>
    </div>
    <div class="input-container">
        <input type="text" ng-model="local.createProject.addr_secondline" required="required"><strong></strong>
        <label class="label-bar">Address line 2</label>
    </div>
    <div class="input-container">
        <input type="text" ng-model="local.createProject.addr_thirdline" required="required"><strong></strong>
        <label class="label-bar">Address line 3</label>
    </div>
    <div class="input-container">
        <input type="text" ng-model="local.createProject.addr_forthline" required="required"><strong></strong>
        <label class="label-bar">Address line 4</label>
    </div>
</form>
