<ion-view id="projects" hide-back-button="true" cache-view="false">
    <ion-content class="has-header ds-blackscroll">
        <ion-list>
          <ion-item ng-click="go(local.activeProject)" class="ds-active" ng-if="local.activeProject">
              <div>{{local.activeProject.name}}</div>
              <span class="ds-tag">ID:&nbsp;{{local.activeProject.project_number}}</span>
          </ion-item>
            <ion-item ng-repeat="project in projects track by $index" ng-click="go(project)">
                <div>{{project.name}}</div>
                <span class="ds-tag">ID:&nbsp;{{project.project_number}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
    <span class="ds-actionbtn" ng-click="showPopup()" ng-if="local.user.role === 3 || local.user.role === 2">
        <i class="ion-ios-plus-empty"></i>
    </span>
</ion-view>
