<ion-view id="projects" hide-back-button="true" cache-view="false">
    <ion-content class="has-header ds-blackscroll">
        <ion-list ng-show="vm.showList">
            <ion-item ng-click="vm.go(vm.local.activeProject)" class="ds-active" ng-if="vm.local.activeProject">
                <div>{{vm.local.activeProject.name}}</div>
                <span class="ds-tag">ID:&nbsp;{{vm.local.activeProject.project_number}}</span>
            </ion-item>
            <ion-item ng-repeat="project in vm.projects" ng-click="vm.go(project.value)">
                <div>{{project.value.name}}</div>
                <span class="ds-tag">ID:&nbsp;{{project.value.project_number}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
    <!-- <span class="ds-actionbtn" ng-click="showPopup()" ng-if="local.user.role === 3 || local.user.role === 2">
        <i class="ion-ios-plus-empty"></i>
    </span> -->
</ion-view>
