/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
Created on : Sep 10, 2016, 5:33:58 PM
Author     : buchi
*/

.ds-menu{
  font-family: 'FreightLight';
  background-color:#2f4759;
  ion-item{
    background-color:#2f4759;
    color:#fff;
    position:relative;
    border-color: #171d21;
    .user-circle-img {
      padding-bottom:10px;
      img{
        width: 110px;
        margin: 0 auto;
        display: block;
        border-radius: 100%;
        border: 5px solid #35bdee;
      }
    }
    .ds-link{
      color: #35bdee;
      font-size: 15px !important;
      font-weight: 100;
    }
    .ds-txt{
      font-size: 15px !important;
      font-weight: 100;
    }
    .item-toggle {
      display: inline-block;
      padding: 0px;
      background-color: transparent;
      border: none;
      color: #fff;
      font-size:14px;
      > div{
        display: inline-block;
        padding-right: 5px;
      }
      .toggle{
        position: relative;
        top: 0px;
        right:0px;
        .track{
          width: 30px;
          height: 10px;
          border-color: #fff !important;
          background-color: #fff !important;
        }
        .handle{
          top: 8px;
          left: 4px;
          width: 15px;
          height: 15px;
          border-color: #11c1f3;
          background-color: #11c1f3;
        }
      }
      .toggle input:checked + .track .handle{
        -webkit-transform: translate3d(16px, 0, 0);
        transform: translate3d(16px, 0, 0);
      }
    }
    &:first-child{
      text-align: center;
      padding-bottom:10px;
      font-size: 15px;
    }
    &.ds-option{
      position: relative;
      padding: 10px 15px;
      img{
        position: absolute;
        left:15px;
        height: 24px;
      }
      span{
        color:#fff;
        padding-left:40px;
        font-weight: 400;
      }
    }
    &.ds-option-link{
      position: absolute;
      width: 100%;
      bottom: 0px;
      right: 1px;
      img{
        position: absolute;
        left:15px;
        height: 24px;
      }
      span{
        color:#2f4759;
        padding-left:45px;
      }
    }
  }
}
