<ion-view hide-back-button="true" cache-view="false">
    <ion-header-bar align-title="left" class="bar-subheader bar-calm" ng-click="back()">
        <button class="button ion-ios-arrow-left"></button>
        <h1 class="title">{{settings.subHeader}}</h1>
    </ion-header-bar>
    <ion-content class="has-header ds-blackscroll ds-page ds-subcontractors">
        <div class="title">{{local.data.user_name}}<img src="img/use/edit.png" ng-click="toggleEdit()"  ng-if="disableedit"/></div>
        <div class="title">
            <i class="ion-android-globe"></i>{{local.data.company}}</div>
        <ion-item class="ds-grh-cont active">
            <div class="ds-grh">
                <h3>Drawing details<i class="ion ion-ios-arrow-down"></i>
                </h3>
            </div>
            <div class="ds-container">
                <label>
                    <div class="ds-content">
                        <span class="ds-title">Last name</span>
                    </div>
                    <input ng-model="local.data.last_name" ng-disabled="disableedit">
                </label>
                <label>
                    <div class="ds-content">
                        <span class="ds-title">First name</span>
                    </div>
                    <input ng-model="local.data.first_name" ng-disabled="disableedit">
                </label>
                <label>
                    <div class="ds-content">
                        <span class="ds-title">Phone number</span>
                    </div>
                    <input ng-model="local.data.phone_number" ng-disabled="disableedit">
                </label>
                <label>
                    <div class="ds-content">
                        <span class="ds-title">Registration number</span>
                    </div>
                    <input ng-model="local.data.registration_number" ng-disabled="disableedit">
                </label>
                <label>
                    <div class="ds-content">
                        <span class="ds-title">Address</span>
                    </div>
                    <input ng-model="local.data.address" ng-disabled="disableedit">
                </label>
                <label>
                    <div class="ds-content">
                        <span class="ds-title">Country</span>
                    </div>
                    <input ng-model="local.data.country" ng-disabled="disableedit">
                </label>
            </div>
        </ion-item>
        <ion-item class="ds-grh" ng-click="go('subcontractorrelated', local.entityId)">
            <h3>Tasks<i class="ion ion-ios-folder-outline"></i>
            </h3>
        </ion-item>
        <div class="button button-bar pp-formbtn" ng-if="!disableedit" ng-click="saveEdit()">Save changes</div>
        <div class="button button-bar pp-formbtn" ng-if="!disableedit" ng-click="cancelEdit()">Cancel</div>
    </ion-content>
</ion-view>
