<ion-view hide-back-button="true" cache-view="false">
    <ion-header-bar align-title="left" class="bar-subheader bar-calm" ng-click="back()">
        <button class="button ion-ios-arrow-left"></button>
        <h1 class="title">Drawing&nbsp;-&nbsp;{{local.data.title}}</h1>
    </ion-header-bar>
    <div class="ds-fullscreentools">
        <img src="img/use/marker.png" ng-click="triggerMarker()" ng-if="!local.disableAddMarker">
        <i class="ion-android-add" ng-if="!disableZoomIn" ng-click="zoomIn()"></i>
        <i class="ion-android-remove" ng-if="!disableZoomOut" ng-click="zoomOut()"></i>
    </div>
    <ion-content class="has-header ds-page ds-fullscreen" direction="xy" scroll="true">
        <div class="ds-pdf">
            <div style="position:relative" class="ds-container">
                <div  id="dspdfcontainer">
                    <img
                        class="ds-marker"
                        ng-repeat="marker in local.markers"
                        ng-src="{{marker.img}}"
                        ng-style="{{local.troll}}"
                        ng-click="go('defects', marker.defect_id)"
                        style="height:17px;width:17px;position: absolute; left: {{marker.x}}px; top: {{marker.y}}px;z-index:{{marker.z}}">
                    <canvas style="width:{{index}}px;position:relative" id="fullPreviewCanvas"></canvas>
                </ion-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>
