<ion-view hide-back-button="true" cache-view="false">
    <ion-header-bar align-title="left" class="bar-subheader bar-calm" ng-click="vm.back()">
        <button class="button ion-ios-arrow-left"></button>
        <h1 class="title">{{vm.settings.subHeader}}</h1>
    </ion-header-bar>
    <ion-content class="has-header ds-blackscroll ds-page ds-photo">
        <div class="ds-img">
            <img ng-src="{{vm.local.data.url_original}}">
        </div>
        <label class="ds-title">
      <span>Title</span>
      <input ng-model="vm.local.data.title">
    </label>
        <label>
      <span>Tags</span>
      <input ng-model="vm.local.data.tags">
    </label>
        <label class="ds-description">
      <span>Description</span>
      <textarea ng-model="vm.local.data.description"></textarea>
    </label>
    </ion-content>
</ion-view>
