<div class="tabs-striped tabs-top tabs-color-light">
    <div class="tabs">
        <a class="tab-item" ng-click="vm.tabSelect('drawings')" ng-class="{'active':currentTab === 'drawings'}">
            <img ng-src="{{vm.settings.tabs['drawings']}}">
        </a>
        <a class="tab-item" ng-click="vm.tabSelect('subcontractors')" ng-class="{'active':currentTab === 'subcontractors'}">
            <img ng-src="{{vm.settings.tabs['subcontractors']}}">
        </a>
        <a class="tab-item" ng-click="vm.tabSelect('defects')" ng-class="{'active':currentTab === 'defects'}">
            <img ng-src="{{vm.settings.tabs['defects']}}">
        </a>
    </div>
</div>
<ion-content class="has-subheader ds-tabslist">
    <ion-list ng-if="currentTab==='drawings'">
        <ion-item ng-repeat="item in vm.list" ng-click="vm.goItem(item)" class="ds-tileandborder ds-delayed">
            <img src="img/pdf.png">
            <h3>
              <div>{{item.title}}</div>
              <div>{{item.nr_of_defects}} Tasks</div>
            </h3>
        </ion-item>
    </ion-list>
    <ion-list ng-if="currentTab==='subcontractors'">
        <ion-item ng-repeat="item in vm.list" ng-click="vm.goItem(item)" class="ds-delayed" style="border-left-color: {{item.backgroundColor}}">
            <span class="ds-tile" style="background-color: {{item.backgroundColor}}">{{item.icon}}</span>
            <h3>
              <div>{{item.title}}
                <span class="ds-date pull-right">{{item.nr_of_defects}} tasks</span>
              </div>
              <div>{{item.description}}</div>
            </h3>
        </ion-item>
    </ion-list>
    <ion-list ng-if="currentTab==='defects'">
        <ion-item ng-repeat="item in vm.list | orderBy: '-date'" style="border-left-color: {{item.backgroundColor}}" ng-click="vm.goItem(item)">
            <span class="ds-tile" style="background-color: {{item.backgroundColor}}">{{item.icon}}</span>
            <h3>
              <div>{{item.title}}</div>
              <div class="ds-description">
                <i>Priority&nbsp;:&nbsp;</i><span>{{item.priority_name}}</span>
                <i>Severity&nbsp;:&nbsp;</i><span>{{item.severity_name}}</span>
                <span class="ds-date" ng-if="item.due_date"><img src="img/use/due_date.png">{{item.due_date|date}}</span>
                <span class="ds-date" ng-if="!item.due_date"><img src="img/use/due_date.png">No date</span>
              </div>
            </h3>
        </ion-item>
    </ion-list>
    <div ng-if="!vm.list.length && vm.settings.loaded" class="ds-nodata">
        <span>No data</span>for {{currentTab}}
    </div>
</ion-content>
<span ng-if="currentTab==='subcontractors' || currentTab==='defects'" class="ds-actionbtn" ng-click="vm.showPopup()">
  <i class="ion-ios-plus-empty"></i>
</span>
