<div class="row">
    <h2>
        <span class="de-required"><span ng-if="!myFile">Upload drawing pdf</span><span ng-if="myFile">Pdf:</span></span>
        <span>{{auxFile.name}}</span>
        <label class="fileLabel pull-right">                    
            <input type="file" file-model item="myFile">
            <span><img src="img/ic/action/drawing_upload.png"></span>                    
        </label>
    </h2>
    <form class="clearfix">
        <label>
            <span class="de-required">Title</span>
            <input type="text" ng-model="filter.drawing.title" required="required">
        </label>
        <label>
            <span class="de-required">Code</span>
            <input type="text" ng-model="filter.drawing.code" required="required">
        </label>
        <label>
            <span>Revisions</span>
            <textarea ng-model="filter.drawing.revision"></textarea>
        </label>
        <label style="position: relative;" class="de-date">
            <span>Date<small>tap to change date</small></span>
            <span ng-click="open1()" ng-if="filter.drawing.date_obj" class="de-block">{{filter.drawing.date_obj| date}}</span>
            <input  style="display:none" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter.drawing.date_obj" is-open="popup1.opened" close-text="Close"/>
        </label>
    </form>
</div>
<button class="de-btn pull-right" ng-click="save(filter.managercontainer)">Save</button>