<div class="de-header" ng-click="toggle()" ng-show="!item.openAssignee">
    <span ng-if="item.assignee_name" >{{item.assignee_name}}</span>
    <span ng-if="!item.assignee_name">Assignee</span>
    <img src="img/ic/dropdown.png">    
</div>
<div class="de-content" ng-if="item.openAssignee">
    <input type="text" ng-model="filter.query" placeholder="search users">
    <span class="de-item de-active" ng-if="item.assignee_name">
        {{item.assignee_name}}
    </span>
    <span ng-repeat="user in users| filter:filter.query | limitTo:filter.quantity" class="de-item" ng-click="changeAssignee(user)">
        {{user.first_name}} {{user.last_name}}
    </span>    
    
</div>