<div class="row">
    <h2>
        <span class="de-required"><span ng-if="!auxLogo">Upload Logo</span><span ng-if="auxLogo">Logo:</span></span>
        <span>{{auxLogo.name}}</span>
        <label class="fileLabel pull-right">                    
            <input type="file" file-model item="myFile">
            <span><img src="img/ic/action/drawing_upload.png"></span>                    
        </label>
    </h2>  
</div>
 <button class="de-btn pull-right" ng-click="saveLogo()">Save</button>