<div class="row">
    <form class="clearfix">
        <label>
            <span class="de-required">Old Password</span>
            <input type="password" ng-model="pass.oldPassword" required>
        </label>
        <label>
            <span class="de-required">New Password</span>
            <input type="password" ng-model="pass.newPassword1" required>
        </label>
        <label>
            <span class="de-required">Re-enter New Password</span>
            <input type="password" ng-model="pass.newPassword2" required>
        </label>
    </form>
</div>
<button class="de-btn pull-right" ng-click="savePassword()">Save</button>