<div class="row">
    <form class="clearfix">
        <label>
            <span class="de-required">User Name</span>
            <input type="text" ng-model="profileData.user_name">
        </label>
        <label>
            <span class="de-required">First Name</span>
            <input type="text" ng-model="profileData.first_name">
        </label>
        <label>
            <span class="de-required">Last Name</span>
            <input type="text" ng-model="profileData.last_name">
        </label>
        <label>
            <span class="de-required">Email</span>
            <input type="text" ng-model="profileData.email">
        </label>
        <label>
            <span class="de-required">Phone Number</span>
            <input type="text" ng-model="profileData.phone_number">
        </label>
        <label>
            <span class="de-required">Address</span>
            <input type="text" ng-model="profileData.adress">
        </label>
        <label>
            <span class="de-required">Country</span>
            <input type="text" ng-model="profileData.country">
        </label>
        <label>
            <span class="de-required">Zip Code</span>
            <input type="text" ng-model="profileData.zip_code">
        </label>

    </form>
</div>
<button class="de-btn pull-right" ng-click="update()">Update</button>