<div class="row-fluid">
    <div class="pp-img">        
        <img ng-if="selectedImg.defect_id" ng-src="{{selectedImg.urlOriginal}}"/>
        <img ng-if="!selectedImg.defect_id" data-ng-src ="data:image/png;base64,{{selectedImg.base_64_string}}">
    </div>
    <form class="clearfix" style="margin-bottom: 0px">
        <h3 style="font-size: 20px; padding: 0px;    margin: 15px 5px 5px 0px;">Title</h3>
        <input ng-disabled="!selectedImg.edit" class="form-control" style="width:100%;border-radius: 0px;background-color: #F8F8F8;border: 1px solid #ccc;height: 40px;" ng-model="selectedImg.title" ng-disabled="filter.edit"/>        
        <button type="submit" style="margin-top:10px;padding: 2px 35px;background: #32475A;display: inline-block;height: 30px;padding-top: 4px;color:#fff; border:none; float:right" ng-click="$modalCancel()"  ng-if="filter.edit">Save</button>
        <button type="submit" style="margin-top:10px;padding: 2px 35px;background: #32475A;display: inline-block;height: 30px;padding-top: 4px;color:#fff; border:none; float:right" ng-click="$modalCancel()"  ng-if="!filter.edit">Done</button>
    </form>        
</div>
