<div class="de-header" ng-class="{'de-active':filter.active, 'de-preview':filter.preview && !filter.edit}">
    <input id="relatedforce" type="text" ng-focus="focused()" ng-blur="blurred()" ng-model="filter.query" placeholder="add related tasks" ng-keydown="addOnEnter($event)">
    <span class="btn de-btn de-btn-primary">Add</span>
</div>
<div class="de-content" ng-if="item.openRelated">
    <span ng-repeat="defect in defects| filter:filter.query | limitTo:filter.quantity" class="de-item" ng-click="addRelated(defect)">
        {{defect.title}}
    </span>    
</div>
<div class="de-list">
    <div class="de-container" ng-repeat="related in item.related_tasks" >
        <div class="de-item " ng-class="{'de-blue-border': related.status_name.toLowerCase() === 'incomplete','de-red-border': related.status_name.toLowerCase() === 'contested','de-grey-border': related.status_name.toLowerCase() === 'delayed','de-orange-border': related.status_name.toLowerCase() === 'partially_completed','de-purple-border': related.status_name.toLowerCase() === 'completed','de-green-border': related.status_name.toLowerCase() === 'closed_out'}">
            <h3>{{related.title}}</h3>
            <span style="margin-left: 0px;" ng-if="related.due_date">{{related.due_date|date}}</span>
            <span style="margin-left: 0px;" ng-if="!related.due_date">None</span>
            <span>Priority:&nbsp;<i>{{related.priority_name|capitalize:true}}</i></span>
            <span>Severity:&nbsp;<i>{{related.severity_name|capitalize:true}}</i></span>
            <div class="btn-group" style="float:right; top:0" id="related-{{related.id}}"></div>
            <i class="ion-android-close" ng-click="removeRelated(related)" ng-if="filter.disabled"></i>
        </div>
    </div>
</div>
