<div class="de-header" ng-click="toggle()">
    <span ng-if="item.status_name" ng-class="{'de-blue':table && item.status_name.toLowerCase() === 'incomplete','de-red':table && item.status_name.toLowerCase() === 'contested','de-grey':table && item.status_name.toLowerCase() === 'delayed','de-orange':table && item.status_name.toLowerCase() === 'partially completed','de-purple':table && item.status_name.toLowerCase() === 'completed','de-green':table && item.status_name.toLowerCase() === 'closed out'}">{{item.status_name|capitalize:true}}</span>
    <span ng-if="!item.status_name && !table">Status</span>
    <img src="img/ic/dropdown.png">    
</div>
<div class="de-content" ng-if="item.openStatus">
    <span class="de-item de-blue-border" ng-click="changeStatus({id: 0, name: 'Incomplete'})">
        Incomplete
    </span>
    <span class="de-item de-red-border" ng-click="changeStatus({id: 1, name: 'Contested'})">
        Contested
    </span>
    <span class="de-item de-grey-border" ng-click="changeStatus({id: 2, name: 'Delayed'})">
        Delayed
    </span>
    <span class="de-item de-orange-border" ng-click="changeStatus({id: 3, name: 'Partially Completed'})">
        Partially Completed
    </span>
    <span class="de-item de-purple-border" ng-click="changeStatus({id: 4, name: 'Completed'})">
        Completed
    </span>
    <span class="de-item de-green-border" ng-if="filter.noShow" ng-click="changeStatus({id: 5, name: 'Closed Out'})">
        Closed Out
    </span>
</div>