<div class="de-header">
    <div class="de-pagination">
        <span>Home</span><i class="ion-ios-arrow-right"></i><span>{{project.name}}</span><i class="ion-ios-arrow-right"></i><span>Contractors</span>
    </div>
    <mainmenu state="'subcontractors'"></mainmenu>
</div>
<div class="de-main de-contractors"> 
    <!--    <addtask  dial="dialcreate" subcontractors="true"></addtask>
        <createsubcontractor  dial="dialsubcon" callback="reloadSubc()"></createsubcontractor>
        <invitesubcontractor  dial="dialinvite" ></invitesubcontractor>-->
    <subcontractorslide dial="dial" callback="reload()"></subcontractorslide>
    <div class="de-actions clearfix">
        <div class="pull-right">
            <button class="de-btn" ng-click="toggleSubcontractor('invite', null)"><i class="ion-android-add"></i>Invite subcontractor</button>
            <button class="de-btn" ng-click="toggleSubcontractor('sub', null)"><i class="ion-android-add"></i>Add subcontractor</button>
        </div>
    </div>
    <div class='de-table'>
        <table ng-table="tableParams" show-filter="false">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th ng-click="changeSorting('first_name')">Name<img class="ml5" ng-src="{{getIcon('first_name')}}"></th>
                    <th ng-click="changeSorting('user_name')">User name<img class="ml5" ng-src="{{getIcon('user_name')}}"></th>
                    <th ng-click="changeSorting('company')">Company<img class="ml5" ng-src="{{getIcon('company')}}"></th>
                    <th>Phone number</th>
                    <th>Tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sctr in subcontractors| orderBy:sort.active:sort.descending | filter: global.search">
                    <td>
                        <img src="img/ic/action/add_contractor.png" ng-click="toggleSubcontractor('def', sctr.id)">
                        <img src="img/ic/action/preview.png" ng-click="toggleSubcontractor('sub', sctr.id)">
                        <i class="fa fa-link" aria-hidden="true" style=" font-size: 21px;color: #667283;vertical-align: middle;" ui-sref="app.contractor({id:sctr.id})"></i>
                        <img src="img/ic/action/delete.png" ng-click="delete(sctr.id)">
                    </td>
                    <td ng-if="(sctr.first_name && sctr.last_name)">{{sctr.first_name}} {{sctr.last_name}}</td>
                    <td ng-if="!(sctr.first_name && sctr.last_name)"> - </td>
                    <td ng-if="sctr.user_name">{{sctr.user_name}}</td>
                    <td ng-if="!sctr.user_name"> - </td>
                    <td ng-if="sctr.company">{{sctr.company}}</td>
                    <td ng-if="!sctr.company"> - </td>                      
                    <td ng-if="sctr.phone_number">{{sctr.phone_number}}</td>
                    <td ng-if="!sctr.phone_number"> - </td>
                    <td>
                        <span class="de-square de-blue">{{sctr.incomplete_tasks}}</span>
                        <span class="de-square de-red">{{sctr.contested_tasks}}</span>
                        <span class="de-square de-grey">{{sctr.delayed_tasks}}</span>
                        <span class="de-square de-orange">{{sctr.partially_completed_tasks}}</span>
                        <span class="de-square de-purple">{{sctr.completed_tasks}}</span>
                        <span class="de-square de-green">{{sctr.closed_out_tasks}}</span>
                    </td>
                </tr>               
            </tbody>
        </table>
    </div>
</div>