<div class="de-header">
    <div class="de-pagination">
        <span>Home</span><i class="ion-ios-arrow-right"></i><span>{{project.name}}</span><i class="ion-ios-arrow-right"></i><span>Contractors</span><i class="ion-ios-arrow-right"></i><span>{{subcontractor.first_name}} {{subcontractor.last_name}}</span>
    </div>
    <mainmenu state="'subcontractors'"></mainmenu>
    
</div>
<defectslide dial="dial" callback="reload()"></defectslide>
<div class="de-main de-contractor"> 
    <div class="de-actions clearfix">    
        <button class="de-btn de-btn-primary" ui-sref="app.contractors"><i class="ion-reply"></i></button> 
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="de-container clearfix">
                <div class="de-img">
                    <img ng-if="subcontractor.company_logo === null" src="img/logo-placeholder.jpg">
                    <img ng-if="subcontractor.company_logo" ng-src="{{subcontractor.company_logo}}">
                </div>
                <div class="de-content">
                    <div class="de-title">{{subcontractor.first_name}} {{subcontractor.last_name}}</div>
                    <div class="row" style="padding-left:15px;padding-bottom: 10px;">
                        <div>
                            <span class="de-label">Company:</span>
                            <span ng-if="subcontractor.company" class="de-text">{{subcontractor.company}}</span>
                            <span ng-if="!subcontractor.company" class="de-text"> - </span> 
                        </div>
                        <div>
                            <span class="de-label">Phone No:</span>
                            <span ng-if="subcontractor.phone_number" class="de-text">{{subcontractor.phone_number}}</span>    
                            <span ng-if="!subcontractor.phone_number" class="de-text"> - </span> 
                        </div>
                        <div>
                            <span class="de-label">Zip Code:</span>
                            <span ng-if="subcontractor.zip_code" class="de-text">{{subcontractor.zip_code}}</span>  
                            <span ng-if="!subcontractor.zip_code" class="de-text"> - </span> 
                        </div>
                        <div>
                            <span class="de-label">Registration No:</span>
                            <span ng-if="subcontractor.registration_number" class="de-text">{{subcontractor.registration_number}}</span>
                            <span ng-if="!subcontractor.registration_number" class="de-text"> - </span> 
                        </div>
                        <div>
                            <span class="de-label">Address:</span>
                            <span ng-if="subcontractor.address" class="de-text">{{subcontractor.address}}</span>   
                            <span ng-if="!subcontractor.address" class="de-text"> - </span>  
                        </div>
                        <div>
                            <span class="de-label">Country:</span>
                            <span ng-if="subcontractor.country" class="de-text">{{subcontractor.country}}</span>
                            <span ng-if="!subcontractor.country" class="de-text"> - </span>  
                        </div>

                    </div>
                </div>
            </div>
            <div class="de-container de-comments" >
                <h2>Comments</h2>
                <label>
                    <textarea ng-model="comment" ng-keypress="submitCommentOnEnter($event)"></textarea>
                    <button ng-click="submitComment()" class="de-btn de-btn-large de-btn-primary pull-right">Post</button>
                </label>
                <div class="de-item mb20" ng-repeat="item in comments">
                    <div class="de-avatar">
                        <span>{{item.user_name | limitTo:2 | uppercase}}</span>
                    </div>
                    <div class="de-content">
                        <h3>{{item.user_name}}</h3><span class="de-text">{{item.date|date}}</span>
                        <p>{{item.comment}}</p>
                    </div>
                </div>
            </div>               
        </div>
        <div class="col-md-3">
            <div class="de-tabs clearfix">
                <span class="de-tab de-active de-full">Assigned tasks</span>
                <div>
                    
                    <div class="de-container de-comments" >                
                        <div ng-if="!defects.length" class="de-item de-text" style="padding: 10px 5px">
                            There are no assigned tasks
                        </div>
                        <div ng-if="defects" class="de-item" ng-repeat="defect in defects" ng-click="toggleDefect(defect.id)">
                            <div>
                                <div class="de-avatar" >
                                    <span ng-class="{'de-blue':defect.status_name.toLowerCase() === 'incomplete','de-red':defect.status_name.toLowerCase() === 'contested','de-grey':defect.status_name.toLowerCase() === 'delayed','de-orange':defect.status_name.toLowerCase() === 'partially completed','de-purple':defect.status_name.toLowerCase() === 'completed','de-green':defect.status_name.toLowerCase() === 'closed out'}">
                                    {{defect.assignee_name.split(' ')[0] | limitTo:1 | uppercase}}
                                    {{defect.assignee_name.split(' ')[1] | limitTo:1 | uppercase}}</span>
                                </div>
                                <div class="de-content">
                                    <h3>{{defect.title}}</h3>
                                    <div> 
                                        <span class="de-label">Priority:&nbsp;</span><span class="de-text">{{defect.priority_name|capitalize:true}}&nbsp;|&nbsp;</span>
                                        <span class="de-label">Severity:&nbsp;</span><span class="de-text">{{defect.severity_name|capitalize:true}}</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <img src="img/ic/action/due_date.png">&nbsp;<span class="de-text">{{defect.date|date}}</span>
                                <span class="pull-right">
                                    <img src="img/ic/action/attachements.png">&nbsp;<span class="de-text">{{defect.number_of_photos}}</span>
                                    <img src="img/ic/action/comments.png">&nbsp;<span class="de-text">{{defect.number_of_comments}}</span>
                                </span>
                            </div>
                        </div>
                        
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>