<div class="de-header">
    <div class="de-pagination">
        <span>Home</span><i class="ion-ios-arrow-right"></i><span>{{project.name}}</span><i class="ion-ios-arrow-right"></i><span>Defects</span>
    </div>
    <mainmenu state="'defects'"></mainmenu>
</div>
<div class="de-main de-defects"> 
    <!--<createtask  dial="dial" callback="reload()" subcontractors="true"></createtask>-->
    <defectslide dial="dial" callback="reload()"></defectslide>
    <div class="de-actions clearfix" ng-if="current_user.roleDs.title!== 'subcontractor'">
        <div class="pull-right">
            <button class="de-btn" ng-click="toggleDefect(null)"><i class="ion-android-add"></i>Add new defect</button>
        </div>
    </div>
    <div class='de-table'>
        <table ng-table="tableParams" show-filter="false">
            <thead>
                <tr>
                    <th width="100">Actions</th>
                    <th ng-click="changeSorting('title')">Task name<img class="ml5" ng-src="{{getIcon('title')}}"></th>
                    <th ng-click="changeSorting('priority_name')">Priority<img class="ml5" ng-src="{{getIcon('priority_name')}}"></th>
                    <th ng-click="changeSorting('severity_name')">Severity<img class="ml5" ng-src="{{getIcon('severity_name')}}"></th>
                    <th ng-click="changeSorting('due_date')">Due date<img class="ml5" ng-src="{{getIcon('due_date')}}"></th>
                    <th ng-click="changeSorting('assignee_name')">Assignee<img class="ml5" ng-src="{{getIcon('assignee_name')}}"></th>
                    <th ng-click="changeSorting('location')">Location<img class="ml5" ng-src="{{getIcon('location')}}"></th>
                    <th ng-click="changeSorting('description')">Description<img class="ml5" ng-src="{{getIcon('description')}}"></th>
                    <th>Related tasks</th>
                    <th width="100">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="defect in defects | orderBy:'-date' | orderBy:sort.active:sort.descending | filter: global.search">
                    <td><img src="img/ic/action/preview.png" ng-click="toggleDefect(defect.id)"></td>
                    <td ng-if="defect.title">{{defect.title}}</td>
                    <td ng-if="!defect.title"> - </td>
                    <td ng-if="defect.priority_name">{{defect.priority_name |capitalize:true}}</td>
                    <td ng-if="!defect.priority_name"> - </td>
                    <td ng-if="defect.severity_name">{{defect.severity_name |capitalize:true}}</td>
                    <td ng-if="!defect.severity_name"> - </td>
                    <td ng-if="defect.due_date !== 0">{{defect.due_date| date}}</td>
                    <td ng-if="defect.due_date === 0">None</td>
                    <td ng-if="defect.assignee_name">{{defect.assignee_name |capitalize:true}}</td>
                    <td ng-if="!defect.assignee_name"> - </td>
                    <td ng-if="defect.location">{{defect.location}}</td>
                    <td ng-if="!defect.location"> - </td>
                    <td ng-if="defect.description">{{defect.description}}</td>
                    <td ng-if="!defect.description"> - </td>
                    <td>
                        <span class="de-square de-blue">{{defect.incomplete_tasks}}</span>
                        <span class="de-square de-red">{{defect.contested_tasks}}</span>
                        <span class="de-square de-grey">{{defect.delayed_tasks}}</span>
                        <span class="de-square de-orange">{{defect.partially_completed_tasks}}</span>
                        <span class="de-square de-purple">{{defect.completed_tasks}}</span>
                        <span class="de-square de-green">{{defect.closed_out_tasks}}</span>
                    </td>
                    <td><status item="defect" parent="defects" table="true"></status></td>
            </tr>           
            </tbody>
        </table>
    </div>
</div>