<fullscreen dial="dial"></fullscreen>
<div class="de-header">
    <div class="de-pagination">
        <span>Home</span><i class="ion-ios-arrow-right"></i><span>{{project.name}}</span><i class="ion-ios-arrow-right"></i><span>Drawings</span><i class="ion-ios-arrow-right"></i><span>{{drawingHelper.title}}</span>
    </div>
    <mainmenu state="'drawings'"></mainmenu>
</div>
<defectslide dial="dials" callback="reload()"></defectslide>
<div class="de-main de-drawing"> 
    <div class="de-actions clearfix">    
        <button class="de-btn de-btn-primary" ui-sref="app.location({id:drawingHelper.id})"><i class="ion-reply"></i></button>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="de-container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="de-img">
                            <h2>{{drawingHelper.title}}</h2>
                            <img src="img/ic/action/location.png"><span class="de-label">Defect location</span><span class="de-text">{{defect.location}}</span>
                            <hr/> 
                            <div class="de-content">
                                <button ng-click="toggleFullscreen()">
                                    <img  src="img/ic/action/fullscreen.png">
                                </button>
                                <div style="position:relative;width: 100%;display: block;margin: 30px auto;" ng-if="drawingHelper" loadpoint> 
                                    <canvas id="drawingPreviewCanvas"></canvas>
                                    <img src="img/completed.png" ng-if="point.status == 'COMPLETED'" style="width: 15px; position: absolute;cursor:default" ng-style="{'top':point.y - 7, 'left':point.x - 7}">
                                    <img src="img/incomplete.png" ng-if="point.status == 'INCOMPLETE'" style="width: 15px; position: absolute;cursor:default" ng-style="{'top':point.y - 7, 'left':point.x- 7}">
                                    <img src="img/contested.png" ng-if="point.status == 'CONTESTED'" style="width: 15px; position: absolute;cursor:default" ng-style="{'top':point.y - 7, 'left':point.x - 7}">
                                    <img src="img/delayed.png" ng-if="point.status == 'DELAYED'" style="width: 15px; position: absolute;cursor:default" ng-style="{'top':point.y - 7, 'left':point.x - 7}">
                                    <img src="img/closed_out.png" ng-if="point.status == 'CLOSED_OUT'" style="width: 15px; position: absolute;cursor:default" ng-style="{'top':point.y - 7, 'left':point.x - 7}">
                                    <img src="img/partially_completed.png" ng-if="point.status == 'PARTIALLY_COMPLETED'" style="width: 15px; position: absolute;cursor:default" ng-style="{'top':point.y - 7, 'left':point.x - 7}">
                                </div>
                                <div ng-if="!drawingHelper" style="width: calc(100% - 40px);height:230px; background-color: #fff;margin: 30px auto;padding-top:10px">
                                    <img  src="img/loading.gif"  ng-if="!test" style="margin:30px auto;display: block">    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="de-details" ng-if="defect">
                            <h2>{{defect.title}} <img src="img/ic/action/edit.png" ng-click="toggleDefects(defect.id, 'edit')"></h2>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div><span class="de-label">Status:</span><span class="de-text">{{defect.status_name|capitalize:true}}</span></div>
                                    <div><span class="de-label">Priority:</span><span class="de-text">{{defect.priority_name|capitalize:true}}</span></div>
                                    <div><span class="de-label">Severity:</span><span class="de-text">{{defect.severity_name|capitalize:true}}</span></div>
                                    <div><span class="de-label">Due date:</span><span class="de-text">{{defect.due_date|date}}</span></div>
                                    <div><span class="de-label">Estimated costs ({{defect.currency_name}})</span><span class="de-text">{{defect.cost}}</span></div>
                                </div>
                                <div class="col-xs-6">
                                    <div><span class="de-label">Assignee</span><span class="de-text">{{defect.assignee_name}}</span></div>
                                    <div><span class="de-label">Assigner</span><span class="de-text">{{defect.reporter_name}}</span></div>
                                    <div><span class="de-label">Created</span><span class="de-text">{{defect.date|date}}</span></div>
                                    <div><span class="de-label">Last updated</span><span class="de-text">{{defect.date|date}}</span></div>
                                </div>
                            </div>
                            <br>
                            <h2>Description</h2>
                            <div ng-if="defect.description" class="de-content de-text">
                                {{defect.description}}
                            </div>
                            <div ng-if="!defect.description" class="de-content de-text">
                                There is no description
                            </div>
                            <br>
                            <h2>Attachments</h2>
                            
                            <div ng-if="photos_preview" class="de-pictures" style="min-height: 150px;">
                                <div class="de-content" ng-repeat="pht in photos_preview">
                                    <img ng-src="{{pht.url}}">
                                </div>
                            </div>
                            <div ng-if="!photos_preview" class="de-content de-text">
                                There are no attachements
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="de-container de-comments">
                <h2>Comments</h2>
                <label>
                    <textarea ng-model="comment" ng-keypress="submitCommentOnEnter($event)"></textarea>
                    <button class='de-btn de-btn-large de-btn-primary pull-right' ng-click='postComment()'>Post</button>
                </label>
                <div class="de-item" ng-repeat="comm in comments">
                    <div class="de-avatar">
                        <span>{{comm.user_name| limitTo:1 | uppercase}}</span>
                    </div>
                    <div class="de-content">
                        <h3>{{comm.user_name}}</h3><span class="de-text">{{comm.date|date}}</span>
                        <p>{{comm.text}}</p>
                    </div>
                </div>
            </div>               
        </div>
        <div class="col-md-3">
            <div class="de-tabs clearfix">
                <span class="de-tab" ng-click="filter.state = 'related'" ng-class="{'de-active':filter.state === 'related'}">Related tasks</span>
                <span class="de-tab" ng-click="filter.state = 'updates'" ng-class="{'de-active':filter.state === 'updates'}">Updates</span>
                <div>
                    <div class="de-container de-comments" ng-if="filter.state === 'updates'">                
                        <div ng-if="!updates.length" class="de-item de-text" style="padding: 10px 5px">
                            There are no new updates
                        </div>
                        <div ng-if="updates" class="de-item" ng-repeat="update in updates">
                            <div>
                                <div class="de-avatar">
                                    <span>{{update.user_name.split(' ')[0] | limitTo:1 | uppercase}}
                                    {{update.user_name.split(' ')[1] | limitTo:1 | uppercase}}</span>
                                </div>
                                <div class="de-content">
                                    <h3>{{update.user_name}}</h3>&nbsp;<span class="de-text">updated</span>&nbsp;<span class="de-label">{{update.defect_name}}</span>
                                    <p>{{update.text}}</p>                                
                                </div>
                            </div>
                            <div>
                                <img src="img/ic/action/calendar.png">&nbsp;<span class="de-text">{{update.date|date}}</span>
                            </div>
                        </div>                        
                    </div> 
                    <div class="de-container de-comments" ng-if="filter.state === 'related'">                
                        <div ng-if="!defect.related_tasks.length" class="de-item de-text" style="padding: 10px 5px">
                            There are no related tasks
                        </div>
                        <div ng-if="defect.related_tasks" class="de-item" ng-repeat="rel in defect.related_tasks">
                            <div>
                                <div class="de-avatar">
                                    <!--<span class="de-blue">{{rel.name}}</span>-->
                                    <span ng-class="{'de-blue':rel.status_name.toLowerCase() === 'incomplete','de-red':rel.status_name.toLowerCase() === 'contested','de-grey':rel.status_name.toLowerCase() === 'delayed','de-orange':rel.status_name.toLowerCase() === 'partially completed','de-purple':rel.status_name.toLowerCase() === 'completed','de-green':rel.status_name.toLowerCase() === 'closed out'}">
                                        {{rel.assignee_name.split(' ')[0].toUpperCase() | limitTo : 1}}
                                        {{rel.assignee_name.split(' ')[1].toUpperCase() | limitTo : 1}}</span>
                                </div>
                                <div class="de-content">
                                    <h3>{{rel.title}}</h3>
                                    <div> 
                                        <span class="de-label">Priority:&nbsp;</span><span class="de-text">{{rel.priority_name|capitalize:true}}&nbsp;|&nbsp;</span>
                                        <span class="de-label">Severity:&nbsp;</span><span class="de-text">{{rel.severity_name|capitalize:true}}</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <img src="img/ic/action/due_date.png">&nbsp;<span class="de-text">{{rel.due_date|date}}</span>
                                <span class="pull-right">
                                    <img src="img/ic/action/attachements.png">&nbsp;<span class="de-text">{{rel.number_of_photos}}</span>
                                    <img src="img/ic/action/comments.png">&nbsp;<span class="de-text">{{rel.number_of_comments}}</span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>