<fullscreen dial="dial"></fullscreen>
<div class="de-header">
    <div class="de-pagination">
        <span>Home</span><i class="ion-ios-arrow-right"></i><span>{{project.name}}</span><i class="ion-ios-arrow-right"></i><span>Drawings</span><i class="ion-ios-arrow-right"></i><span>{{drawingHelper.title}}</span>
    </div>
    <mainmenu state="'drawings'"></mainmenu>
</div>
<div class="de-main de-location">
    <addtask  dial="dialcreate" callback="reload()"></addtask>
    <div class="tools-section">
        <div class="drawing-tools pull-left">
            <div class="edit-tool" ng-click="editDrawing(drawingHelper)"><img src="img/ic/action/edit_white.png"/></div>
            <div class="delete-tool" ng-click="deleteDrawing(drawingHelper.id)"><img src="img/ic/action/delete_white.png"/></div>
        </div>
    </div>
    <div class="drawing-bar">
        <div class="back" ui-sref="app.drawings"><img src="img/ic/action/back.png"/></div>
        <div class="drawing-label">{{drawingHelper.title}}</div>
        <div class="drawing-label item">Code:<span class="label-details">{{drawingHelper.code}}</span></div>
        <div class="drawing-label item">Revisions:<span class="label-details">{{drawingHelper.revision}}</span></div>
        <div class="drawing-label item">Date:<span class="label-details">{{drawingHelper.drawing_date|date}}</span></div>
        <div class="image-tools pull-right">
            <div class="image-actions">
                <img src="img/ic/action/previous-drawing.png" ng-if="previousDrawing" ui-sref="app.location({id:previousDrawing})"/>
                <img src="img/ic/action/fullscreen.png" class="fullscreen-img" ng-click="toggleFullscreen()"/>
                <img src="img/ic/action/next-drawing.png" ng-if="nextDrawing" ui-sref="app.location({id:nextDrawing})"/>
            </div>
            <div class="image-zoom">
                <span ng-if="!disableZoomIn" ng-click="zoom()" class="zoom-space"><img src="img/ic/action/zoom-in.png"/></span>
                <span ng-if="!disableZoomOut" ng-click="fit()" class="zoom-space zoom-in"><img src="img/ic/action/zoom-out.png"/></span>
                <div class="zoom-size">{{index}}%</div>
            </div>
            <div class="mark-loc item" ng-if="!(current_user.roleDs.id == 2)" ng-click="addMarker()"><img src="img/ic/action/mark-location.png"/></div>
        </div>
    </div>
    <div class="main-drawings clearfix">
        <div class="view-defects" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
            <img src="img/ic/action/view-defects.png"/>
        </div>
        <div class="defects-popover"  ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-show="hoverEdit">
            <span class="item-popover" ng-click="activeMarkers()">All</span>
            <span class="item-popover" ng-click="statusMarkers('Incomplete')">Incomplete</span>
            <span class="item-popover" ng-click="statusMarkers('Contested')">Contested</span>
            <span class="item-popover" ng-click="statusMarkers('Delayed')">Delayed</span>
            <span class="item-popover" ng-click="statusMarkers('Partially Completed')">Partially Completed</span>
            <span class="item-popover" ng-click="statusMarkers('Completed')">Completed</span>
            <span class="item-popover" ng-click="statusMarkers('Closed Out')">Closed Out</span>
        </div>
        <!--<div class="drawing-section clearfix" ng-style="myStyle"  ng-show="drawingHelper">-->
        <div class="drawing-section clearfix" ng-style="myStyle">
            <div style="position: relative;" class="w-100 h-100">
                <div class="page">
                    <canvas id="canvas"></canvas>
                    <div ng-repeat="point in pointList">
                        <img src="img/incomplete.png" ng-if="point.status == undefined" ng-click="goDrawing(test.id, point.defect_id)" style="height:20px;width:20px;position: absolute" ng-style="{'top':point.y - 10, 'left':point.x - 10}">
                        <img src="img/completed.png" ng-if="point.status == 'Completed'" ng-click="goDrawing(test.id, point.defect_id)" style="height:20px;width:20px;position: absolute" ng-style="{'top':point.y - 10, 'left':point.x - 10}">
                        <img src="img/incomplete.png" ng-if="point.status == 'Incomplete'" ng-click="goDrawing(test.id, point.defect_id)" style="height:20px;width:20px;position: absolute" ng-style="{'top':point.y - 10, 'left':point.x - 10}">
                        <img src="img/contested.png" ng-if="point.status == 'Contested'" ng-click="goDrawing(test.id, point.defect_id)" style="height:20px;width:20px;position: absolute" ng-style="{'top':point.y - 10, 'left':point.x - 10}">
                        <img src="img/delayed.png" ng-if="point.status == 'Delayed'" ng-click="goDrawing(test.id, point.defect_id)" style="height:20px;width:20px;position: absolute" ng-style="{'top':point.y - 10, 'left':point.x - 10}">
                        <img src="img/closed_out.png" ng-if="point.status == 'Closed Out'" ng-click="goDrawing(test.id, point.defect_id)" style="height:20px;width:20px;position: absolute" ng-style="{'top':point.y - 10, 'left':point.x - 10}">
                        <img src="img/partially_completed.png" ng-if="point.status == 'Partially Completed'" ng-click="goDrawing(test.id, point.defect_id)" style="height:20px;width:20px;position: absolute" ng-style="{'top':point.y - 10, 'left':point.x - 10}">
                    </div>
                </div>
            </div>            
        </div>
        <!--<img src="img/loading.gif"  ng-if="!drawingHelper" style="margin:30px auto;display: block">-->
    </div>
</div>