<div class="de-header">
    <div class="de-pagination">
        <span>Home</span><i class="ion-ios-arrow-right"></i><span>{{project.name}}</span><i class="ion-ios-arrow-right"></i><span>Punch List</span>
    </div>
    <mainmenu state="'punchlist'"></mainmenu>
</div>
<div class="de-main de-punchlist"> 
    <defectslide dial="dial" callback="reload()"></defectslide>
    <div style="display: inline-block"><a class="generate-reports" href="{{filter.server}}/api/pdf_controller/downloadDsReport?projectId={{project.id}}" ng-click="downloadThis(project)">Generate reports</a></div>
    <div style="display: inline-block"><a class="generate-reports" href="{{filter.server}}/api/pdf_controller/downloadAnalyticalDsReport?projectId={{project.id}}" ng-click="downloadAnalytical(project)">Analytical reports</a></div>
    <div class="filters">
        <div class="filter-item" ng-click="changeSorting('title')">Name<img ng-src="{{getIcon('title')}}"></div>
        <div class="filter-item" ng-click="changeSorting('priority_name')">Priority<img ng-src="{{getIcon('priority_name')}}"></div>
        <div class="filter-item" ng-click="changeSorting('severity_name')">Severity<img ng-src="{{getIcon('severity_name')}}"></div>
        <div class="filter-item" ng-click="changeSorting('due_date')">Due date<img ng-src="{{getIcon('due_date')}}"></div>
        <div class="filter-item" ng-if="current_user.roleDs.title !== 'subcontractor'" ng-click="changeSorting('assignee_name')">Assignee<img ng-src="{{getIcon('assignee_name')}}"></div>
        <div class="add-new-task" ng-click="toggleNewTask()" ng-if="current_user.roleDs.title !== 'subcontractor'">Add new task</div>        
    </div>
    <div class="ds-punchlist-instance">
        <div class="row">
            <div id="{{listName}}" ng-repeat="(listName, list) in models.lists" ng-class="{special1: listName === 'incomplete', special2: listName === 'partially completed', special3: listName === 'completed', special4: listName === 'closed out',special5: listName === 'contested',special6: listName === 'delayed'}" class="col-lg-2 col-md-2 col-sm-4 col-xs-12 field">
                <div class="panel panel-info">
                    <div class="panel-border"></div>
                    <div class="panel-heading">
                        <h3 class="panel-title">{{listName}}&nbsp;({{list.length}})</h3>
                    </div>
                    <div class="panel-body" ng-include="'templates/simple.html'"></div>
                </div>
            </div>

        </div>

        <div view-source="simple"></div>
    </div>
</div>