<div class="de-header search-header">
    <div class="de-pagination">
        <span>Search</span><i class="ion-ios-arrow-right"></i><span>{{project.name}}</span>
    </div>
</div>
<div class="pp-search">
    <div style="width:35px; display:inline-block; cursor:pointer">
        <img ng-if="filter.category === 'all'" style="height:auto;padding-left: 10px;" src="img/icons/header/dropdown arrow.png" class="pp-image" ng-click="toggleOptions();$event.stopPropagation();">
        <img ng-if="filter.category === 'design'" style="height: 30px;" ng-src="img/icons/search/design.png" class="pp-image" ng-click="toggleOptions();$event.stopPropagation();">
        <img ng-if="filter.category === 'instance'" style="height: 30px;" ng-src="img/icons/search/instance.png" class="pp-image" ng-click="toggleOptions();$event.stopPropagation();">
        <img ng-if="filter.category === 'register'" style="hheight: 30px;" ng-src="img/icons/search/register.png" class="pp-image" ng-click="toggleOptions();$event.stopPropagation();">
<!--        <img ng-if="filter.category === 'project'" style="height: 24px;padding-left: 5px;" ng-src="img/icons/search/project.png" class="pp-image" ng-click="toggleOptions();$event.stopPropagation();">
        <img ng-if="filter.category === 'customer'" style="height: 26px;padding-left: 5px;"ng-src="img/icons/search/customer.png" class="pp-image" ng-click="toggleOptions();$event.stopPropagation();">
        <img ng-if="filter.category === 'user'" style="height: 16px;" ng-src="img/icons/search/user.png" class="pp-image" ng-click="toggleOptions();$event.stopPropagation();">-->
    </div>
    <input placeholder="Search through the application" type="text" ng-model="filter.search" ng-keydown="doSearch($event)">
    <img src="img/icons/header/search.png" class="pp-category" ng-click="doSearch()" style="cursor:pointer">
    <div class="pp-container" ng-if="filter.optionsActive" click-anywhere-but-here="closeClickAnywhereButHere()">
        <div ng-click="changeCategory('all')">All</div>
        <div ng-click="changeCategory('design')">Design</div>
        <div ng-click="changeCategory('instance')">Instance</div>
        <div ng-click="changeCategory('register')">Register</div>
<!--        <div ng-click="changeCategory('project')">Project</div>
        <div ng-click="changeCategory('customer')">Customer</div>
        <div ng-click="changeCategory('user')">User</div>-->
    </div>
</div>
