<div class="de-sidebar">
    <div class="de-item de-none">
        <div>
            <div style="display: inline-block;">
                <img class="de-img" ng-if="userLogo" ng-src="data:image/jpeg;base64,{{userLogo}}"/>
                <img class="de-img" ng-if="userLogo === null" src="img/ic/sidebar/user.svg"/>           
            </div>
            <div class="de-text">
                <h3><strong>{{current_user.username}}</strong></h3>
                <h3 ng-if="current_user.roleDs.title === 'company_admin'">Company Admin</h3>
                <h3 ng-if="current_user.roleDs.title === 'sitemanager'">Site Manager</h3>
                <h3 ng-if="current_user.roleDs.title === 'subcontractor'">Subcontractor</h3>
                <h3 ng-if="current_user.roleDs.title === 'none'"> - </h3>
            </div>
        </div>
    </div>
    <div class="de-item" ui-sref="app.home">
        <img class="pull-left" src="img/ic/sidebar/myacc.png" >
        <span class="pull-left">My account</span>
    </div>  
    <div class="de-item" ng-click="toggleProjects()" ng-class="{'de-projects-active':activeProjects}">
        <img class="pull-left" src="img/ic/sidebar/projects.png">
        <span class="de-badge de-notification">{{projects.length}}</span>
        <span class="pull-left">Projects<span class="de-badge">{{projects.length}}</span></span>
        <span class="pull-right"><i ng-class="{'ion-chevron-up':activeProjects,'ion-chevron-down':!activeProjects}" aria-hidden="true"></i></span>
    </div>
    <div class="de-item de-input" ng-if="activeProjects && activeMenu">  
        <i class="ion-ios-search-strong"></i>
        <input type="text" placeholder="Search through projects" ng-model="filter.searchText.name">
    </div>
    <div class="de-container" ng-if="activeProjects">
        <div class="de-item" ng-repeat="proj in projects| orderBy:'name' | filter:filter.searchText "  ng-click="selectProject(proj)">            
            <span class="pull-left">{{proj.name}}</span>
        </div>
    </div>
    <div class="de-item de-special" ng-if="activeProjects && activeMenu && current_user.roleDs.title!== 'subcontractor'" ng-click="createProject()">   
        <i class="pull-left ion-android-add"></i>
        <span class="pull-left">Create new project</span>
    </div>
    <div class="de-item de-footer" ng-click="logout()">
        <img class="pull-left" src="img/ic/sidebar/logout.png">
        <span class="pull-left">Log out</span>
    </div>
</div>