<div class="login">    
    <div class="de-topbar">
        <div class="de-image">
            <img src="img/proprojectpill.png">
        </div>
    </div>
    <div class="de-container" >
        <div class="de-content" style="width:600px">
            <h1>Sign up<span style="font-family: 'FreightLight', sans-serif; font-size: 23px; padding-left: 5px;display:inline-block;text-transform: none;vertical-align: middle;">{{user.email}}</span></h1>
            <div class="row">
                <form autocomplete="off" formnovalidate spellcheck="false" name="loginForm" >
                    <div class="col-md-6" style="padding-right:5px">
                        <label>
                            <input type="text" placeholder="First Name" ng-model="user.first_name" readonly onfocus="this.removeAttribute('readonly');">
                        </label>
                        <label>
                            <input type="password" placeholder="Password" ng-model="user.password" readonly onfocus="this.removeAttribute('readonly');">
                        </label>                    
                        <label>
                            <input type="text" placeholder="Company" ng-model="user.company" readonly onfocus="this.removeAttribute('readonly');">
                        </label>
                        <label>
                            <input type="text" placeholder="Address" ng-model="user.address" readonly onfocus="this.removeAttribute('readonly');">
                        </label>
                        <label>
                            <input type="text" placeholder="Zip Code" ng-model="user.zip_code" readonly onfocus="this.removeAttribute('readonly');">
                        </label>
                    </div>

                    <div class="col-md-6" style="padding-left:5px">

                        <label>
                            <input type="text" placeholder="Last Name" ng-model="user.last_name" readonly onfocus="this.removeAttribute('readonly');">
                        </label>
                        <label>
                            <input type="password" placeholder="Verify Password" ng-model="user.passwordtest" readonly onfocus="this.removeAttribute('readonly');">
                        </label>
                        <label>
                            <input type="text" placeholder="Registration No." ng-model="user.registration_number" readonly onfocus="this.removeAttribute('readonly');">
                        </label>
                        <label>
                            <input type="text" placeholder="Phone No." ng-model="user.phone_number" readonly onfocus="this.removeAttribute('readonly');">
                        </label>
                        <label>
                            <input type="text" placeholder="Country" ng-model="user.country" readonly onfocus="this.removeAttribute('readonly');">
                        </label>


                    </div>
                </form>
            </div>
           
            <button ng-click="submitData(user)">Register</button> 
            
        </div>       
    </div>
</div>