<span class="de-status" >
    <span class="de-container">Review</span><i ng-click="toggleChangeStatus(defect)" class="ion-android-arrow-dropdown"></i>
    <span class="de-content" ng-if="defect === filter.statusHelp">
        <span class="de-item de-blue-border" ng-click="testdir()">
            Incomplete
        </span>
        <span class="de-item de-orange-border">
            Contested
        </span>
        <span class="de-item de-purple-border">
            Completed
        </span>
        <span class="de-item de-green-border">
            Closed
        </span>
        <span class="de-item de-red-border">
            Delayed
        </span>
        <span class="de-item de-cyan-border">
            Delayed
        </span>
    </span>
</span>