<div class="de-topbar">
    <div class="de-item de-menubtn" ng-click="toggleMenu()"><img src="img/ic/header/barmenu.png"></div>
    <div class="de-item" ui-sref="app.home"><img src="img/ic/header/home.png"></div>
    <div class="de-item de-input" ng-keypress="enterSearch($event)"> 
        <span class="pull-left" ng-click="toggleSearch()" >
            <img ng-if="!activeSearch" src="img/ic/header/downarrow.png">
            <img ng-if="activeSearch" src="img/ic/header/uparrow.png">
        </span>
        <input type="text" ng-model="global.search" placeholder="Search through the application">
        <img class="pull-right" src="img/ic/header/search.png">
        <div  ng-if="activeSearch">
            <a class="de-item de-input search-drop" href="#/defects">            
                Defects
            </a>
            <a class="de-item de-input search-drop" href="#/drawings">            
                Drawings
            </a>
        </div>
    </div>
    <div class="de-item pull-right" ng-click="toggleNotification()"><img class="notification-icon" src="img/ic/header/notifications.png"><span class="de-badge notification-badge">{{notificationCount}}</span></div>
    <div class="pull-right notification-box" ng-if="activeNotification"> 
        <div class="de-tabs clearfix">
            <span class="notification-top" >Notifications feed</span>
            <div>
                <div class="de-container de-comments">                
                    <div ng-if="!notifications.length" class="notification-item" style="padding: 10px 5px">
                        There are no new updates
                    </div>
                    <div ng-if="notifications" class="notification-items" ng-repeat="not in notifications">
                        <div style="display: inline-flex;     width: 100%;">
                            <div class="not-avatar">
                                <span>{{not.modified_by.split(' ')[0] | limitTo:1 | uppercase}}
                                    {{not.modified_by.split(' ')[1] | limitTo:1 | uppercase}}</span>
                            </div>
                            <div class="de-content notification-content">
                                <span>{{not.modified_by}}</span><span class="de-label">{{update.defect_name}}</span>
                                <span>{{not.description}}</span>                                
                            </div>
                        </div>
                        <div class="notification-bottom">
                            <img src="img/ic/action/calendar.png">&nbsp;<span class="de-text">{{not.date|date}}</span>
                        </div>
                    </div>                        
                </div> 
            </div>
        </div>

    </div>
</div>