<ion-view hide-back-button="true" cache-view="false">
    <ion-header-bar align-title="left" class="bar-subheader bar-calm" ng-click="back()">
        <button class="button ion-ios-arrow-left"></button>
        <h1 class="title">{{settings.subHeader}}</h1>
    </ion-header-bar>
    <ion-content class="has-header ds-blackscroll ds-page ds-page-details">
        <div class="title">{{local.data.title}}</div>
        <ion-item class="ds-grh-cont active">
            <div class="ds-grh">
                <h3>Drawing details<i class="ion ion-ios-arrow-down"></i>
                </h3>
            </div>
            <div class="ds-container">
                <label>
                    <div class="ds-content">
                        <span class="ds-title">Name</span>
                    </div>
                    <input type="text" ng-model="local.data.title" ng-disabled="disableedit">
                </label>
                <label>
                    <div class="ds-content">
                        <span class="ds-title">Code</span>
                    </div>
                    <input type="text" ng-model="local.data.code" ng-disabled="disableedit">
                </label>
                <label>
                    <div class="ds-content">
                        <span class="ds-title">Revisions</span>
                    </div>
                    <input type="text" ng-model="local.data.revision" ng-disabled="disableedit">
                </label>
                <div class="ds-label">
                    <div class="ds-content">
                        <span class="ds-title">Date</span>
                    </div>
                    <div ion-datetime-picker date ng-model="local.data.drawing_date" month-step="1" hour-step="1" minute-step="1" second-step="1" class="ds-date" ng-if="!disableedit">
                        <div ng-if="local.data.drawing_date">{{local.data.drawing_date | date}}</div>
                        <div ng-if="!local.data.drawing_date">Tap here to select a date.</div>
                    </div>
                    <div class="ds-date" ng-if="disableedit">
                        <div ng-if="local.data.drawing_date">{{local.data.drawing_date | date}}</div>
                        <div ng-if="!local.data.drawing_date">Tap here to select a date.</div>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
