<ion-view hide-back-button="true" cache-view="false" overflow-scroll="true">
    <ion-header-bar align-title="left" class="bar-subheader bar-calm" ng-click="vm.go('defects')">
        <button class="button ion-ios-arrow-left"></button>
        <h1 class="title">{{vm.settings.subHeader}}</h1>
    </ion-header-bar>
    <ion-content class="has-header ds-blackscroll ds-page ds-attachments" delegate-handle="mainScroll">
        <div ng-if="vm.substate === 'gallery'">
            <div class="row" ng-repeat="item in vm.pictures track by $index" ng-if="$index % 2 === 0">
                <div class="col col-50" ng-if="$index < vm.pictures.length">
                    <div class="pull-down" style="max-height: 50vw;overflow: hidden;">
                        <img onerror="this.src='img/not_available.jpg';" ng-src="{{vm.pictures[$index].url}}" ng-click="vm.testPicture(vm.pictures[$index])" ng-if="vm.pictures[$index].id" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);" />
                        <img onerror="this.src='img/not_available.jpg';" data-ng-src="data:image/png;base64,{{vm.pictures[$index].base_64_string}}" ng-click="vm.testPicture(vm.pictures[$index])" ng-if="!vm.pictures[$index].id" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);"
                        />
                    </div>
                    <div>
                        <button class="button button-assertive remove_attach_btn" style="margin:5px 0 0 0!important" ng-if="!disableedit" ng-click='vm.removePicture(vm.pictures[$index],$index)'>Remove</button>
                    </div>
                </div>
                <div class="col col-50" ng-if="$index + 1 < vm.pictures.length">
                    <div class="pull-down" style="max-height: 50vw;overflow: hidden;">
                        <img onerror="this.src='img/not_available.jpg';" ng-src="{{vm.pictures[$index+1].url}}" ng-click="vm.testPicture(vm.pictures[$index + 1])" ng-if="vm.pictures[$index + 1].id" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);" />
                        <img onerror="this.src='img/not_available.jpg';" data-ng-src="data:image/png;base64,{{vm.pictures[$index+1].base_64_string}}" ng-click="vm.testPicture(vm.pictures[$index + 1])" ng-if="!vm.pictures[$index + 1].id" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);"
                        />
                    </div>
                    <div>
                        <button class="button button-assertive remove_attach_btn" style="margin:5px 0 0 0!important" ng-if="!disableedit" ng-click='vm.removePicture(vm.pictures[$index + 1],$index + 1)'>Remove</button>
                    </div>
                </div>
            </div>

            <div ng-if="!vm.pictures.length" class="ds-nodata">
                <span>No attachments</span>
            </div>
        </div>

        <div ng-show="vm.substate === 'pic'">
            <div style="padding-bottom: 45px">
                <div class="list" style="padding:1px 0">
                    <img onerror="this.src='img/not_found.jpg';" class="attached-photo" ng-if="vm.currentPhoto.id" ng-src="{{vm.currentPhoto.url}}" ng-click="vm.returnToGallery()">
                    <img onerror="this.src='img/not_found.jpg';" ng-if="!vm.currentPhoto.id" data-ng-src="data:image/png;base64,{{vm.currentPhoto.base_64_string}}" ng-click="vm.returnToGallery()" class='attached-photo'>
                    <label class="item item-input item-stacked-label attach-title">
                      <span>Title</span>
                      <input type="text" ng-readonly="disableedit" ng-model="vm.currentPhoto.title">
                    </label>
                    <label class="item item-input item-stacked-label attach-comm">
                      <span>Comment</span>
                      <textarea ng-readonly="disableedit" ng-auto-expand ng-model="vm.currentPhoto.comment"></textarea>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer ds-footer" ng-if="!disableedit">
        <span>Add Pictures</span>
        <div class="ds-actions">
            <img src="img/use/takePicture.png" ng-click="vm.takePicture()">
            <img src="img/use/cameraRoll.png" ng-click="vm.addPicture()">
        </div>
    </div>
</ion-view>
